<div class="main-page-wrapper">
  <footer id="main-footer" class="gs gs-block-xs gs-block-sm justify-content-space-between">
    
    <div class="lay-70 align-center-xs align-center-sm">
      <nav class="footer-nav">
        <a href="">Terms and Conditions</a>
        <a href="">Privacy Policy</a>
        <a href="">Contact Us</a>
      </nav>
    </div>

    <div class="follow-links lay-30 align-center-xs align-center-sm align-right-md align-right-lg">
      <span>Follow Us</span>
      <a href="">
        <img src="assets/icon-facebook.png" alt="">
      </a>
      <a href="">
        <img src="assets/icon-twitter.png" alt="">
      </a>
    </div>

  </footer>
</div>