<div class="main-page-wrapper">
  <footer id="main-footer" class="gs justify-content-space-between">

    <nav class="footer-nav">
      <a href="">Terms and Conditions</a>
      <a href="">Privacy Policy</a>
      <a href="">Contact Us</a>
    </nav>

    <div class="follow-links">
      <span>Follow Us</span>
      <a href="">
        <img src="assets/icon-facebook.png" alt="">
      </a>
      <a href="">
        <img src="assets/icon-twitter.png" alt="">
      </a>
    </div>

  </footer>
</div>