<section class="main-page-wrapper p-2-y p-em">

  <article class="top-notification" *ngIf="showTopBannerNotification">
    <div class="gs gs-block-sm">
      <div class="c-lay">
        <span>Speak out. Be heard. </span>
        <h3>Be counted</h3>
      </div>
      <div class="lay p-2-right p-em">
        <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
      </div>
      <button class="__close" (click)="showTopBannerNotification = false;"></button>
    </div>
  </article>


  <h2 class="section-title">Votes</h2>

  <section class="grid-box-votes">

    <article class="box-vote" *ngFor="let newsVote of newsVotes" [ngStyle]="{ 'background-image': 'url(' + newsVote.imageFeature + ')'}">
      <div class="box-vote-inner">
        <div class="box-vote-content">
          <h3 [innerHtml]="newsVote.title"></h3>
          <div class="__date">
            <b>{{ newsVote?.date }}<span> in {{ newsVote?.category }}</span></b>
          </div>
          <p [innerHtml]="newsVote.description"></p>
          <section class="gs align-items-center __actions">
            <button class="btn btn-vote btn-vote-sm btn-vote-up"></button>          
            <button class="btn btn-vote btn-vote-sm btn-vote-down"></button>
            <button class="btn btn-vote-now">Vote now</button>
          </section>
        </div>
        <section class="gs keep-lay __counter-votes">
          <div class="lay __item __up" [style.width.%]="calculateVote(newsVote?.votes?.up, newsVote?.votes?.up, newsVote?.votes?.down)">
            <span>{{calculateVote(newsVote?.votes?.up, newsVote?.votes?.up, newsVote?.votes?.down)}}<small>%</small></span>
          </div>
          <div class="lay __item __down" [style.width.%]="calculateVote(newsVote?.votes?.down, newsVote?.votes?.up, newsVote?.votes?.down)">
            <span>{{calculateVote(newsVote?.votes?.down, newsVote?.votes?.up, newsVote?.votes?.down)}}<small>%</small></span>
          </div>
        </section>
      </div>
    </article>

  </section>

  <section class="banner-submit-name">
    <b class="p-1-right p-em">Is there anyone else you would want us to add?</b>
    <a href="" class="btn btn-outlet btn-outlet-black">Submit a Name</a>
  </section>

</section>