<header id="main-header">
  <section class="main-page-wrapper h-100">
    <div class="gs h-100 align-items-center">
      <div class="lay-30">
        <a href="" class="logo">Rule of Thumb.</a>
      </div>
      <div class="lay-70 align-right hide-sm hide-xs">
        <nav>
          <a href="">Past Trials</a>
          <a href="">How It Works</a>
          <a href="">Log In / Sign Up</a>
          <a href="" class="icon-search"></a>
        </nav>
      </div>
    </div>
  </section>
</header>
