<section class="component-banner-vote">
  <div class="image-vote-bkg"></div>
  <div class="main-page-wrapper h-100 gs">
    <article class="box-vote align-self-center">
      <section class="box-vote-content">
        <header>
          <span>What’s your opinion on</span>
        </header>
        <section class="__content">
          <h3>Pope Francis?</h3>
          <p>He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </p>
          <a href="" class="read-more"><img src="assets/icon-wiki.png" alt=""><span>More information</span></a>
          <h5>What’s Your Verdict?</h5>
        </section>
      </section>
      <section class="gs keep-lay __actions">
        <div class="lay">
          <button class="btn btn-block btn-vote btn-vote-lg btn-vote-up"></button>
        </div>
        <div class="lay">
          <button class="btn btn-block btn-vote btn-vote-lg btn-vote-down"></button>
        </div>
      </section>
    </article>
  </div>
  <div class="closing-days gs keep-lay align-items-streach">
    <div class="lay-30 __text align-right">
      <span>CLOSING IN</span>
    </div>
    <div class="lay-70 __counter">
      <span><b>22</b> days</span>
    </div>
  </div>
</section>
